$font-monsterrat: "Montserrat", Helvetica, Arial, sans-serif;
$font-opensans: "Open Sans", Helvetica, Arial, sans-serif;

//Colors
$color-black: #1c2a39;
$color-grey: #5c6a79;
$color-lt-grey: #efeef6;
$color-grey-btn: #eeedf5;
$color-blue: #4c3db2;
$color-lt-blue: #9e98dc;
$color-yellow: #f2c94c;
$color-red: #ff353a;
$color-pink: #ff8fe6;
$color-bg: #ffffff;

//Dimensions
$container-width: 1120px;
$products-list-width: 923px;
